body {
  width: 100%;
  font-size: 62.5%;
}

.testUp {
  margin: 0 auto;
  font-size: 1.6em;
  border: solid 1px #000;
}

.box {
  position: relative;
  margin: 10px;
  width: 100px;
  height: 100px;
  background: #fff;
}
